<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>VHB Study Enrollment Key</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.t2health.VirtualHopeBox.t2vhb</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>org.t2health.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>org.t2health.VirtualHopeBox.t2vhb</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>t2vhb</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.4.3</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>Used to add media to Hope Box</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Used to create events</string>
	<key>NSCameraUsageDescription</key>
	<string>Used to take photos to add to Hope Box</string>
	<key>NSContactsUsageDescription</key>
	<string>Used to add contacts as Support Contacts</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Used to record recordings for Hope Box</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Used to add photos to Hope Box</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Used to add photos to Hope Box</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard_iPhone</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>MainStoryboard_iPad_v2</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>VHB Study Enrollment Key</string>
			<key>UTTypeIdentifier</key>
			<string>org.t2health.VirtualHopeBox.t2vhb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>t2vhb</string>
				<key>public.mime-type</key>
				<string>chemical/x-t2vhb</string>
			</dict>
		</dict>
	</array>
	<key>kTCCServiceMediaLibrary</key>
	<string>Used to add music to Hope Box</string>
</dict>
</plist>
